:root{
    --primary-color: #532b88;
    --secondary-color: #9b72cf;
    --background-color: whitesmoke;
    --text-color: #2f184b;
    --background-page: #ede6f6;
    --sm: 0.875rem;
    --md: 1rem;
    --lg: 1.125rem;
}
html, input, input::placeholder, textarea{
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: transparent;
    border: none;
}
html{
    background-color: var(--background-page);
}
.external-content{
    display: none;
}

.notes{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header header"
        "cue main"
        "footer footer";
    padding: 20px;
    gap: 20px;
}

.notes > *{
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}
.notes__header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
}
.notes__title{
    width: 100%;
    font-size: var(--lg);
    font-weight: 700;
    color: var(--background-color);

}
.notes__title::placeholder{
    color: var(--background-color);

}
.notes__data{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
}
.notes__topic{
    text-align: end;
    color: var(--background-color);
    margin-bottom: 4px;
}
.notes__topic::placeholder{
    color: var(--background-color);
}
.notes__date{
    text-align: end;
    color: var(--background-color);
}
.notes label{
    font-size: var(--md);
    font-weight: 700;
    margin-bottom: 2px;
}
.notes textarea{
    width: 100%;
    box-sizing: border-box;
}
.notes__cue{
    grid-area: cue;
}
.notes__dropdown{
    display: flex;
    flex-direction: column;
}
.notes__dropdown textarea{
    width: 100%;
    box-sizing: border-box;
}
.notes__main{
    grid-area: main;
}
.notes__resume{
    grid-area: footer;
}
.notes__download-button{
    display: inline-block;
    height: 45px;
    min-width: 45px;
    border: 2px solid var(--background-color);
    border-radius: 5px;
    color: var(--background-page);
    background-color: var(--primary-color);
    cursor: pointer;
}
.notes__download-button:hover{
    background-color: var(--secondary-color);
}
.notes__download-button i{
    font-size: 28px;
}

@media(max-width: 480px){
    .notes__header{
        flex-direction: column;
    }
    .notes{
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "main"
        "cue"
        "footer";
    }
    .notes__download-button{
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 50%;
        border: 4px double;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    }
    .notes__download-button i{
        font-size: 36px;
    }
}